<!doctype html>
<title>{% block title %}Home{% endblock %} | bokbok</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ url_for('.static', filename='js/application.js') }}"></script>
<script>
  graph = new Graph('{{ graphite_host }}', {{ graphite_options|safe }})
</script>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">bokbok</a>
      <ul class="nav">
	<li class="active">
	  <a href="/">Home</a>
	</li>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12 columns">
      <img id="graphite-img" src="/static/img/graph.png" />
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="span12 columns">
      <form class="form-horizontal" id="graph-form">
        <div class="well">
          <div class="btn-toolbar" style="margin:0;">
            <div class="btn-group">
              <a class="btn btn-primary" href="#">Graph</a>
              <a class="btn btn-primary dropdown-toggle"
                 data-toggle="dropdown" href="#">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a id="graph-update" href="#">
                    <i class="icon-refresh"></i>
                    Update</a>
                </li>
                <li class="divider"></li>
                <li><a id="graph-share" href="#">
                    <i class="icon-share-alt"></i>
                    Permalink</a>
                </li>
                <li><a id="graph-save" href="#">
                    <i class="icon-camera"></i>
                    Snapshot</a>
                </li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="reset" class="btn reset">
                <i class="icon-remove"></i>
                Reset
              </button>
            </div>
          </div>
        </div>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                Metrics
              </a>
            </div>
            <div id="collapseOne" class="accordion-body in collapse">
              <div class="accordion-inner">
                <div class="well">
                  <div class="input-append">
	            <input type="text" id="metrics-select"
	                   class="span5" style="margin: 0 auto;"
	                   data-provide="typeahead"
                           placeholder="Search for a metric" />
                    <span class="add-on">
                      <i class="icon-search" id="search-help"></i>
                    </span>
                  </div>
                </div>
                <div class="span11">
                  <Ul id="graph-target-list">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                Options
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body in collapse">
              <div class="accordion-inner">
                <fieldset>
                  <div class="row">
                    <div class="span6">
                      <div class="control-group">
                        <label class="control-label">Title</label>
                        <div class="controls">
                          <input class="span2" type="text" name="title"
                                 placeholder="My graph" />
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">From</label>
                        <div class="controls">
                          <input class="span1" type="text" name="from"
                                 value="-1d" />
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Until</label>
                        <div class="controls">
                          <input class="span1" type="text" name="until"
                                 placeholder="now" />
                        </div>
                      </div>
                    </div>
                    <div class="span5">
                      <div class="control-group">
                        <label class="control-label">Vertical title</label>
                        <div class="controls">
                          <input class="span2" type="text" name="vtitle"
                                 placeholder="unset" />
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Line width</label>
                        <div class="controls">
                          <input class="span1" type="text" name="lineWidth"
                                 placeholder="2" />
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Area mode</label>
                        <div class="controls">
                          <select class="span2" name="areaMode">
                            <option selected>none</option>
                            <option>stacked</option>
                            <option>first</option>
                            <option>all</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="span6 columns">
                      <div class="control-group">
                        <label class="control-label">Y-axis max</label>
                        <div class="controls">
                          <input class="span1" type="text" name="yMax"
                                 placeholder="unset" />
                        </div>
                      </div>
                    </div>
                    <div class="span5 columns">
                      <div class="control-group">
                        <label class="control-label" for="option-toggles">Toggles</label>
                        <div class="controls">
                          <label class="checkbox">
                            <input type="checkbox" id="hide-grid"
                                   name="hideGrid" value="true" />
                            Hide grid
                          </label>
                          <label class="checkbox">
                            <input type="checkbox" id="hide-axes"
                                   name="hideAxes" value="true" />
                            Hide axes
                          </label>
                          <label class="checkbox">
                            <input type="checkbox" id="hide-legend"
                                   name="hideLegend" value="true" />
                            Hide legend
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal hide fade" id="graph-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Graph snapshot</h3>
  </div>
  <div class="modal-body">
    <p align="center">
      <input class="span6" id="graph-link"
             type="text"></input>
    </p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>
<div class="modal hide fade" id="graph-target-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Edit metric</h3>
  </div>
  <div class="modal-body">
    <p align="center">
      <input class="span6" id="graph-target"
             type="text"></input>
    </p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary update" data-dismiss="modal">Close</a>
  </div>
</div>
<script src="{{ url_for('.static', filename='js/bootstrap-collapse.js') }}"></script>
<script src="{{ url_for('.static', filename='js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('.static', filename='js/bootstrap-tooltip.js') }}"></script>
<script src="{{ url_for('.static', filename='js/bootstrap-popover.js') }}"></script>
<script src="{{ url_for('.static', filename='js/bootstrap-dropdown.js') }}"></script>
<script src="{{ url_for('.static', filename='js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.cookie.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.jeditable.mini.js') }}"></script>
